body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

#player iframe {
  width: 100vw;
  height: 60vh;
}

#canales {
  display: flex;
  overflow-x: auto;
  background: #111;
}

.canal {
  padding: 10px;
  cursor: pointer;
}

#programacion {
  background: #222;
  padding: 10px;
}